html,
body {
    width: 100%;
    height: 100%;
}

/* 搜尋欄--------------------------------------------- */
#header {
    background: #eee;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    position: fixed;
    align-items: center;
    margin: auto;
    font-size: 0;
    z-index: 5;
}

#header p {
    display: inline;
    line-height: 56px;
    width: 24px;
    height: 24px;
    font-size: 1rem;
    margin-right: 0;
}

#header i {
    padding: 0 .5rem;
}

#header .hstyle_l {
    display: inline;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 56px;
    padding: 0 1rem;
    font-size: 1rem;
    position: absolute;
}

#header .logo {
    display: inline-block;
    text-align: center;
}

#header img {
    width: 120px;
    height: 40px;
    position: absolute;
    line-height: 56px;
}

#header .hstyle_r {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 90%;
}

#header .hstyle_r p:last-of-type {
    border: 1px solid blue;
    padding: .5rem;
}

/* tag區域與導覽區域-------------------------------------- */
#container {
    width: 100%;
    height: 100%;
    /* background: lightpink; */
}

/* 側邊欄位---------------------------------------------- */
#sidebar {
    width: 256px;
    background: #eee;
    position: fixed;
    top: -120px;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#sidebar .item_1 i {
    padding: 0 1rem;
    margin-left: 5px
}

#sidebar .item_1 {
    width: 256px;
    height: 30%;
    position: absolute;
    top: 16%;
    left: 0;
    font-size: 1rem;
}

#sidebar .item_1 hr {

    width: 235px;
    text-align: left;
}

#sidebar .item_1 ul {
    width: 100%;
}

#sidebar .item_1 li {
    height: 40px;
    line-height: 2rem;
}

#sidebar .item_1 h1 {
    padding-left: 20px;
    font-size: 1rem;
    line-height: 2rem;
}