html,
body {
    width: 100%;
    height: 100%;
}

/* 搜尋欄--------------------------------------------- */
#header {
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    background: lightblue;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

#header .hamburger {
    width: 10%;
    height: 10%;
    float: left;
    /* margin: 10px 0 10px 0; */
    padding: 1rem 0;
}

#header .Logo {
    width: 25%;
    height: 20px;
    float: left;
    padding: 0.5rem 1rem 0rem;
}

#header img {
    max-height: 100%;
    max-width: 100%;
}

#header .search {
    width: 100%;
    height: 50px;
}

/* tag區域與導覽區域-------------------------------------- */
#container {
    width: 100%;
    height: 100%;
    /* background: lightpink; */
}

/* 側邊欄位---------------------------------------------- */
#sidebar {
    width: 256px;
    /* background: lightgreen; */
    position: fixed;
    top: -120px;
    bottom: -120px;
    left: 0;
    z-index: 1;
}