html,
body {
    width: 100%;
    height: 100%;
}

/* 搜尋欄--------------------------------------------- */
#header {
    background: lightcoral;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: relative;
    z-index: 10;
}

#header .Yticon {
    display: inline-block;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

#header .Logo {
    height: 40px;
    width: 120px;
    padding: 18px 14px 18px 16px;
}

#header .riGht {
    width: 225px;
    height: 40px;
    display: inline;
}

#header .user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0%;
    overflow: hidden;
    position: relative;
}

#header img {
    width: 100%;
}


/* tag區域與導覽區域-------------------------------------- */
#container {
    width: 100%;
    height: 100%;
    /* background: lightpink; */
}

/* 側邊欄位---------------------------------------------- */
#sidebar {
    width: 256px;
    /* background: lightgreen; */
    position: fixed;
    top: -120px;
    bottom: 0;
    left: 0;
    z-index: 1;
}